

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.emoji {
font-size: 100px;
font-family: "Apple Color Emoji";

}

